@import '/src/styles/colors.module.css';
@import '/src/styles/fonts.module.css';

:root {
  all: initial;
  box-sizing: border-box;
  font-size: 10px;
  color: var(--color-steel-60);
  line-height: 1.5;
}

html {
  overflow: hidden;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: grid;
  font-family: 'proxima-nova';
  font-size: clamp(0.5rem, 0.5vw + 0.75rem, 12rem);
  width: 100%;
  aspect-ratio: 5760/1360;
  overflow: hidden;
  /* aspect-ratio: 7680/4320; */
  /* max-width: 100%; */
  background-color: black;
}
