@import './reset.scss';
@import '/src/styles/colors.module.css';
@import '/src/styles/fonts.module.css';
@import './functions';

:root {
  --ar-x: 5760;
  --ar-y: 1360;
  --aspect-ratio: var(--ar-x)/var(--ar-y); // 2880:680
  all: initial;
  box-sizing: border-box;
  font-size: clamp(0.025em, 0.275vw + 0.01em, 1em); // 16px at 5760 width
  color: var(--color-steel-60);
  line-height: 1.5;
  overflow: hidden;
}

html {
  overflow: hidden;
  display: flex;
  font-weight: 400;
  max-height: 100vh;
  width: 100vw;
  aspect-ratio: var(--aspect-ratio);
  flex-direction: column;
  place-content: center;
  place-items: center;
  background-color: black;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: grid;
  font-family: 'proxima-nova';
  max-width: 5760px;
  width: 100vw;
  height: 100%;
  margin: auto;
  overflow: hidden;
  background-color: black;
  background-image: linear-gradient(to bottom, #aadffb,#947442,#2c588a);
  background-repeat: no-repeat;
}
